<!DOCTYPE html>
<html>
<head >
<meta charset="UTF-8">
<title>Tunify</title>
<link rel="stylesheet" href="" th:href="@{/css/homepage.css}">
</head>
<body>

	<h1>Welcome to Tunify Application</h1>
	<div class="about">
		<h2>About </h2>
		<p>Tunify is an music Application it is a Fullstack web application in which one can view songs and create playlist we can either register as a Customer or as an Admin. as a customer you have to be a prime customer which you have to purchase through Razerpay and after buying prime subscription you are allowed to view the songs and create playlist. As an admin you can add songs create playlist view playlist. </p>
	</div>
	<div class="links">
			<a href="/map-register" >Click here to register</a>
			<a href="/map-login">Click here to Login</a>
	</div>
</body>
</html>